[init]
    defaultBranch = main

[core]
    editor = nano
    autocrlf = input
    pager = less -FRX

[color]
    ui = auto

[fetch]
    prune = true

[pull]
    ff = only

[push]
    autoSetupRemote = true

[rerere]
    enabled = true

[include]
    path = ~/.config/git/local.gitconfig
